{
  "openapi": "3.1.0",
  "info": {
    "title": "Pixabots API",
    "description": "Deterministic pixel character avatars. 9,856 unique combinations, each with a 4-char base36 ID.",
    "version": "0.1.0",
    "license": { "name": "MIT" },
    "contact": { "name": "Pablo Stanley", "url": "https://pablostanley.substack.com" }
  },
  "servers": [
    { "url": "https://pixabots.com", "description": "Production" }
  ],
  "paths": {
    "/api/pixabot/{id}": {
      "get": {
        "operationId": "getPixabot",
        "summary": "Get a pixabot by ID",
        "description": "Returns a pixel-perfect PNG image by default, or JSON metadata with `?format=json`. PNGs are cached with immutable headers.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "4-char base36 pixabot ID (e.g. `2156`, `f76a`)",
            "schema": { "type": "string", "pattern": "^[0-9a-z]{4}$", "example": "2156" }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Image size in pixels (any integer from 32 to 1920). Nearest-neighbor scaled from the 32×32 source. Multiples of 32 give the cleanest pixel-perfect result; other values still work.",
            "schema": { "type": "integer", "minimum": 32, "maximum": 1920, "default": 128 }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Response format. Omit for PNG image, use `json` for metadata.",
            "schema": { "type": "string", "enum": ["json"] }
          },
          {
            "name": "animated",
            "in": "query",
            "required": false,
            "description": "Set to `true` to get an animated GIF of the bounce animation instead of a static PNG. Any other value (or absent) returns a static PNG. All sizes supported.",
            "schema": { "type": "string", "enum": ["true", "false"] }
          },
          {
            "name": "speed",
            "in": "query",
            "required": false,
            "description": "Animation speed multiplier (0.25–4). Only applies when `animated=true`.",
            "schema": { "type": "number", "minimum": 0.25, "maximum": 4, "default": 1 }
          }
        ],
        "responses": {
          "200": {
            "description": "Pixabot image (PNG or animated GIF) or metadata (JSON)",
            "content": {
              "image/png": {
                "schema": { "type": "string", "format": "binary" }
              },
              "image/gif": {
                "schema": { "type": "string", "format": "binary", "description": "Animated GIF (when animated=true)" }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "example": "2156" },
                    "combo": {
                      "type": "object",
                      "properties": {
                        "eyes": { "type": "integer" },
                        "heads": { "type": "integer" },
                        "body": { "type": "integer" },
                        "top": { "type": "integer" }
                      }
                    },
                    "parts": {
                      "type": "object",
                      "properties": {
                        "eyes": { "type": "string", "example": "glasses" },
                        "heads": { "type": "string", "example": "blob" },
                        "body": { "type": "string", "example": "wings" },
                        "top": { "type": "string", "example": "mohawk" }
                      }
                    },
                    "png": { "type": "string", "format": "uri", "description": "Static PNG URL at the requested size" },
                    "gif": { "type": "string", "format": "uri", "description": "Animated GIF URL at the requested size" }
                  },
                  "required": ["id", "combo", "parts", "png", "gif"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID or size",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/og": {
      "get": {
        "operationId": "getOgImage",
        "summary": "Generate an Open Graph image",
        "description": "Returns a 1200×630 PNG suitable for social cards. Used by Pixabots' own pages but exposed publicly. Two layouts: a grid of seeded pixabots, or a single hero pixabot with title/subtitle.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Layout. `grid` (default) renders a 4×2 grid seeded by the `seed` param. `single` renders one large pixabot, requires `id`.",
            "schema": { "type": "string", "enum": ["grid", "single"], "default": "grid" }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Pixabot ID (required when `type=single`)",
            "schema": { "type": "string", "pattern": "^[0-9a-z]{4}$", "example": "2156" }
          },
          {
            "name": "title",
            "in": "query",
            "required": false,
            "description": "Headline text (max 60 chars, longer is truncated)",
            "schema": { "type": "string", "maxLength": 60, "default": "Pixabots" }
          },
          {
            "name": "subtitle",
            "in": "query",
            "required": false,
            "description": "Subtitle text (max 100 chars, longer is truncated)",
            "schema": { "type": "string", "maxLength": 100 }
          },
          {
            "name": "seed",
            "in": "query",
            "required": false,
            "description": "Seed for the grid layout's pixabot selection (max 80 chars). Defaults to `title` when omitted.",
            "schema": { "type": "string", "maxLength": 80 }
          }
        ],
        "responses": {
          "200": {
            "description": "1200×630 PNG image",
            "content": {
              "image/png": { "schema": { "type": "string", "format": "binary" } }
            }
          },
          "400": {
            "description": "Invalid type or missing/invalid id for single layout",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "error": { "type": "string" } }
                }
              }
            }
          },
          "500": {
            "description": "OG render failed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "error": { "type": "string" } }
                }
              }
            }
          }
        }
      }
    },
    "/api/pixabot/random": {
      "get": {
        "operationId": "getRandomPixabot",
        "summary": "Get a random pixabot",
        "description": "Returns a 302 redirect to a random pixabot's canonical URL (for caching). The `size`, `animated`, and `speed` query params are forwarded to the redirect target. Use `?format=json` to get the random ID and metadata without redirect. The redirect itself is not cached (`Cache-Control: no-store`).",
        "parameters": [
          {
            "name": "size",
            "in": "query",
            "required": false,
            "description": "Image size in pixels, forwarded to the redirect target (any integer from 32 to 1920).",
            "schema": { "type": "integer", "minimum": 32, "maximum": 1920, "default": 128 }
          },
          {
            "name": "animated",
            "in": "query",
            "required": false,
            "description": "Forwarded to the redirect target. Set to `true` for an animated GIF.",
            "schema": { "type": "string", "enum": ["true", "false"] }
          },
          {
            "name": "speed",
            "in": "query",
            "required": false,
            "description": "Forwarded to the redirect target. Animation speed multiplier (0.25–4).",
            "schema": { "type": "number", "minimum": 0.25, "maximum": 4, "default": 1 }
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "description": "Use `json` to get the random ID and metadata directly (no redirect).",
            "schema": { "type": "string", "enum": ["json"] }
          }
        ],
        "responses": {
          "302": {
            "description": "Redirect to the random pixabot's canonical URL (PNG by default, or GIF if `animated=true`). Sent with `Cache-Control: no-store` so each call returns a different pixabot.",
            "headers": {
              "Location": {
                "description": "Canonical URL of the chosen pixabot",
                "schema": { "type": "string", "format": "uri" }
              },
              "Cache-Control": {
                "schema": { "type": "string", "example": "no-store" }
              }
            }
          },
          "400": {
            "description": "Invalid forwarded size or speed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "error": { "type": "string" } }
                }
              }
            }
          },
          "200": {
            "description": "Random pixabot metadata (when format=json)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string", "example": "d632" },
                    "combo": {
                      "type": "object",
                      "properties": {
                        "eyes": { "type": "integer" },
                        "heads": { "type": "integer" },
                        "body": { "type": "integer" },
                        "top": { "type": "integer" }
                      }
                    },
                    "parts": {
                      "type": "object",
                      "properties": {
                        "eyes": { "type": "string" },
                        "heads": { "type": "string" },
                        "body": { "type": "string" },
                        "top": { "type": "string" }
                      }
                    },
                    "png": { "type": "string", "format": "uri", "description": "Static PNG URL for the random pixabot" },
                    "gif": { "type": "string", "format": "uri", "description": "Animated GIF URL for the random pixabot" }
                  },
                  "required": ["id", "combo", "parts", "png", "gif"]
                }
              }
            }
          }
        }
      }
    }
  }
}
